In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
latlong = pd.read_csv('/kaggle/input/indian-census-data-with-geospatial-indexing/district wise centroids.csv')

In [127]:
latlong.head(3)

                 State         District   Latitude  Longitude
0  Andaman and Nicobar  Andaman Islands  12.382571  92.822911
1  Andaman and Nicobar  Nicobar Islands   7.835291  93.511601
2       Andhra Pradesh         Adilabad  19.284514  78.813212

In [ ]:
latlong.isnull().sum()

In [ ]:
latlong.duplicated().sum()

In [ ]:
census = pd.read_csv('/kaggle/input/india-census/india-districts-census-2011.csv')

In [128]:
census.sample(3)

,District code,State name,District name,Male,Female,Male_Literate,Female_Literate,Households_with_Internet,Housholds_with_Electric_Lighting
440,441,MADHYA PRADESH,Barwani,699340,686541,313642,236284,1158,181139
400,401,CHHATTISGARH,Surguja,1193129,1166757,694686,493255,2737,253131
359,360,JHARKHAND,Hazaribagh,890881,843614,596113,417136,3532,176888

In [ ]:
latlong.shape

In [ ]:
census.shape

In [129]:
census.isnull().sum()

District code                       0
State name                          0
District name                       0
Male                                0
Female                              0
Male_Literate                       0
Female_Literate                     0
Households_with_Internet            0
Housholds_with_Electric_Lighting    0
dtype: int64

In [130]:
census.duplicated().sum()

0

In [132]:
census.duplicated().sum()

0

In [133]:
cols =['District code','State name','District name','Male','Female','Male_Literate','Female_Literate','Households_with_Internet','Housholds_with_Electric_Lighting']

In [134]:
census = census[cols]
census.head(2)

,District code,State name,District name,Male,Female,Male_Literate,Female_Literate,Households_with_Internet,Housholds_with_Electric_Lighting
0,1,JAMMU AND KASHMIR,Kupwara,474190,396164,282823,156831,762,83071
1,2,JAMMU AND KASHMIR,Badgam,398041,355704,207741,127908,1999,90190

In [135]:
final_df = latlong.merge(census,left_on='District',right_on='District name').drop(columns=['District name','State name'])
final_df.head(3)

,State,District,Latitude,Longitude,District code,Male,Female,Male_Literate,Female_Literate,Households_with_Internet,Housholds_with_Electric_Lighting
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,1369597,1371642,856350,626997,5512,566108
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,2064495,2016653,1338474,972486,8606,897970
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,2090204,2083860,1484794,1183084,13763,944555

In [136]:
final_df['Sex_Ratio'] = (final_df.Female/final_df.Male)*1000
final_df['Litracy_Rate'] = np.round(((final_df.Male_Literate+final_df.Female_Literate)/(final_df.Male+final_df.Female))*100,2)

In [ ]:
final_df.to_csv('india.csv',index=False)